@using NuGetDashboard.Models
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@model IEnumerable<PingdomStatusViewModel>

 <p style="font-family:arial;color:gray;font-size:15px;font-style:italic"> * This page the current status of pingdom checks and their response time throughout the week.</p>
<table>
    <tbody>
    <tr>
        <th>
         Name
        </th>
        <th>
         Status
        </th>
        <th>
         Current Response time
        </th>
        <th>
         Last Downtime
        </th>
       
    </tr>
    @foreach( PingdomStatusViewModel pingdomcheck in @Model)
    {
        <tr>
            <td>
                @pingdomcheck.Name
            </td>
             <td>
                @pingdomcheck.Status
            </td>
             <td>
                @pingdomcheck.LastResponseTime ms
            </td>
            <td>
                @pingdomcheck.LastErrorTime
            </td>           
        </tr>
    }
  </tbody>
</table>
<br />
<br />
<div >@Html.Action("PartialAvgResponse","PingdomChecks")</div>

